.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-right {
  flex: 1;
  position: relative;
}
.i-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.i-bg {
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #59b256;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.i-into {
  font-size: 30px;
  font-weight: 300;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}
.i-name {
  font-size: 60px;
}
.i-title {
  height: 50px;
  overflow: hidden;
}
.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}
.i-scroll {
  width: 37px;
  height: 37px;
  position: absolute;
  bottom: 20px;
}

@media (max-width: 1215px) {
  .i-left-wrapper {
    height: auto;
  }
}

@media (max-width: 605px) {
  .i {
    flex-direction: column;
    height: auto;
  }
  .i-bg {
    height: 99.2%;
  }
  .i-scroll {
    display: none;
  }
  .i-left {
    display: block;
  }
  .i-left-wrapper {
    text-align: center;
    height: auto;
    display: block;
  }
  .i-intro {
    font-size: 30px;
    font-weight: 400;
  }
  .i-name {
    font-size: 47px;
    width: 100%;
    margin: auto;
  }
  .i-title-item {
    justify-content: center;
  }
  .i-desc {
    font-size: 14px;
    display: none;
  }
}
@media (max-width: 350px) {
  .i-intro {
    font-size: 24px;
  }
  .i-title-item {
    font-size: 22px;
  }
}
